workflows/lead-router-sms.json
{
  "id": "LeadRelaySms01",
  "name": "LeadRelay — AI lead router + Twilio SMS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2f000000-0000-4000-8000-000000000001",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 340],
      "webhookId": "leadrelay-lead-sms"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:3b\",\n  \"stream\": false,\n  \"format\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"urgency\": { \"type\": \"string\", \"enum\": [\"hot\", \"warm\", \"cold\"] },\n      \"intent\": { \"type\": \"string\" },\n      \"summary\": { \"type\": \"string\" }\n    },\n    \"required\": [\"urgency\", \"intent\", \"summary\"]\n  },\n  \"options\": { \"temperature\": 0 },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You triage inbound sales leads for a service business. Classify urgency (hot = ready to buy or emergency, warm = interested, cold = just browsing), name the intent in 2-4 words, and write a one-line summary for the sales team.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.body.message || $json.message || \"\") }} }\n  ]\n}",
        "options": {}
      },
      "id": "2f000000-0000-4000-8000-000000000002",
      "name": "Classify with local Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 340]
    },
    {
      "parameters": {
        "jsCode": "// Ollama returns the schema-constrained JSON as a string in message.content.\nconst raw = $json.message?.content ?? '{}';\nconst c = JSON.parse(raw);\nconst lead = $('Lead Webhook').first().json.body || {};\nreturn [{ json: {\n  name: lead.name || 'Unknown',\n  urgency: c.urgency,\n  intent: c.intent,\n  summary: c.summary,\n  routed_to: c.urgency === 'hot' ? 'call now' : c.urgency === 'warm' ? 'follow up today' : 'nurture queue'\n} }];"
      },
      "id": "2f000000-0000-4000-8000-000000000003",
      "name": "Shape result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify('🔔 New lead: ' + $json.name + '\\nUrgency: ' + $json.urgency.toUpperCase() + ' — ' + $json.routed_to + '\\nIntent: ' + $json.intent + '\\n' + $json.summary) }}\n}",
        "options": {}
      },
      "id": "2f000000-0000-4000-8000-000000000004",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 240],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ Buffer.from($env.TWILIO_ACCOUNT_SID + ':' + $env.TWILIO_AUTH_TOKEN).toString('base64') }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "From", "value": "={{ $env.TWILIO_FROM }}" },
            { "name": "To", "value": "={{ $env.TWILIO_TO }}" },
            { "name": "Body", "value": "=New lead: {{ $json.name }} — {{ $json.urgency.toUpperCase() }} ({{ $json.routed_to }}). {{ $json.summary }}" }
          ]
        },
        "options": {}
      },
      "id": "2f000000-0000-4000-8000-000000000006",
      "name": "Notify SMS (Twilio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 440],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Shape result').first().json) }}"
      },
      "id": "2f000000-0000-4000-8000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 340]
    }
  ],
  "connections": {
    "Lead Webhook": { "main": [[{ "node": "Classify with local Ollama", "type": "main", "index": 0 }]] },
    "Classify with local Ollama": { "main": [[{ "node": "Shape result", "type": "main", "index": 0 }]] },
    "Shape result": {
      "main": [[
        { "node": "Notify Telegram", "type": "main", "index": 0 },
        { "node": "Notify SMS (Twilio)", "type": "main", "index": 0 },
        { "node": "Respond", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
